extends ../assets/templates/template_default

block header
  include ../assets/blocks/header/header

block main
  main.main
    button.menu-btn
    .logo Jeann Wilhelm
    section.main-section

      ul
        li Главная
        li Портфолио
        li Материалы
        li Калькулятор
        li О компании
      h1 Сидеть сложа руки <br> и влюбиться в качество
      button.main-btn Подробнее
    


      
      

      
    

block footer
  include ../assets/blocks/footer/footer
