extends ../assets/templates/template_default

block header
  include ../assets/blocks/header/header

block main
  main.main
    section.main-section
      h1 Сидеть сложа руки и влюбиться в качество
      button.main-btn Подробнее
      button.menu-btn
    
block footer
  include ../assets/blocks/footer/footer
