extends ../assets/templates/template_default

block header
  include ../assets/blocks/header/header

block main
  main.main
    section.main-section
      button.menu-btn

      ul
        li Главная
        li Портфолио
        li Материалы
        li Калькулятор
        li О компании

      h1 Сидеть сложа руки <br> и влюбиться в качество

      button.main-btn Подробнее

      button.application Оставить заявку 

   
section.section-first
    h2 Каждый новый заказ - это отдельный авторский проект со своим дизайнером и технологом,<br> требующий индивидуального подхода
    .container
      .row
        .row-item-black
            p.header Качество материала
          p.description Кожа для обивки и тд
            btn.about1
        .row-item-orange
            p.header
          p.description
            btn.about1


      
      

      
    

block footer
  include ../assets/blocks/footer/footer
