extends ../assets/templates/template_default

block header
  include ../assets/blocks/header/header

block main
  main.main
    section.main-section
      button.menu-btn

      ul
        li Главная
        li Портфолио
        li Материалы
        li Калькулятор
        li О компании

      h1 Сидеть сложа руки и влюбиться в качество

      button.main-btn Подробнее

      button.application Оставить заявку 

   

  h2 Каждый новый заказ - это отдельный авторский проект со своим дизайнером и технологом,<br> требующий индивидуального подхода
  .black
  .orange

      
      

      
    

block footer
  include ../assets/blocks/footer/footer
