extends ../assets/templates/template_default

block header
  include ../assets/blocks/header/header

block main
  main.main
    section.main-section
      button.menu-btn
      .logo Jeann Wilhelm
      ul
        li Главная
        li Портфолио
        li Материалы
        li Калькулятор
        li О компании
      button.request Оставить заявку
      h1 Сидеть сложа руки <br> и влюбиться в качество
      button.main-btn Подробнее
      


      
      

      
    

block footer
  include ../assets/blocks/footer/footer
