extends ../assets/templates/template_default

block header
  include ../assets/blocks/header/header

block main
  main.main
    section.main-section
      button.menu-btn
      .logo Jeann Wilhelm
      ul
        li Главная 
        li Портфолио
        li Материалы
        li Калькулятор
        li О компании
      button.request Оставить заявку
      h1 Сидеть сложа руки <br> и влюбиться в качество
      button.main-btn Подробнее
    section.first-section
      h2 Каждый новый заказ — это отдельный авторский проект со своим дизайнером и технологом,<br>требующий индивидуального подхода
      .container
      .row
        .row-item-black
          p.header Качество материала
          p.description Кожа для обивки отличается не только <br>отличным внешним видом, но и <br>повышенной прочностью и стойкостью к <br>истиранию
          btn.about1 Подробнее
        .row-item-orange
          p.header Качество материала
          p.description Кожа для обивки отличается не только <br>отличным внешним видом, но и <br>повышенной прочностью и стойкостью к <br>истиранию
          btn.about2 Подробнее
        .row-item-gray
          p.header Качество материала
          p.description Кожа для обивки отличается не только <br>отличным внешним видом, но и <br>повышенной прочностью и стойкостью к <br>истиранию
          btn.about3 Подробнее
      


      
      

      
    

block footer
  include ../assets/blocks/footer/footer
