extends ../assets/templates/template_default

block header
  include ../assets/blocks/header/header

block main
  main.main
    section.main-section
      button.menu-btn
      .logo Jeann Wilhelm
      ul
        li Главная 
        li Портфолио
        li Материалы
        li Калькулятор
        li О компании
      button.request Оставить заявку
      h1 Сидеть сложа руки <br> и влюбиться в качество 
      button.main-btn Подробнее
    section.first-section
      h2 Каждый новый заказ — это отдельный авторский проект со своим дизайнером и технологом,<br>требующий индивидуального подхода
      .row
        .row-item-black
          p.header Качество материала
          p.description Кожа для обивки отличается не только <br>отличным внешним видом, но и <br>повышенной прочностью и стойкостью к <br>истиранию
          btn.about1 Подробнее
        .row-item-orange
          p.header Качество материала
          p.description Кожа для обивки отличается не только <br>отличным внешним видом, но и <br>повышенной прочностью и стойкостью к <br>истиранию
          btn.about2 Подробнее
        .row-item-gray
          p.header Качество материала
          p.description Кожа для обивки отличается не только <br>отличным внешним видом, но и <br>повышенной прочностью и стойкостью к <br>истиранию
          btn.about3 Подробнее
    section.second-section
      p.mebelink Mebelink — специализированное реставрационное ателье-мастерская по ремонту и обивке <br>мягкой мебели, перетяжке салонов автомобилей в Москве. Компания создана в 2007 году и за <br>более чем 10 лет работы на рынке сумела совместить огромный спектр услуг в сфере <br>текстильного дизайна интерьеров. 
      p.mebelink1 Наша миссия — сделать все возможное, чтобы подарить вашим любимым креслам, диванам, <br>стульям и гарнитурам вторую жизнь в кратчайшие сроки и с наивысшим качеством. На <br>сегодняшний день в штате компании работают специалисты, которые способны комплексно <br>решить любые вопросы, связанные с ремонтом и реставрацией мебели, — дизайнеры, <br>закройщики, мастера-мебельщики, консультанты и подсобные рабочие.
      btn.request2 Оставить заявку
    section.section-third
      h3 Как мы работаем
      .row1
        .row-item-designer
          p.description1 Представитель компании приедет <br>в удобное для Вас время, составит <br>подробную дефектовку, а также <br>поможет подобрать подходящий <br>обивочный материал. При <br>заключении договора, данная <br>услуга предоставляется <br>бесплатно.
        .row-item-materials
          p.description1 Если вы сомневаетесь в выборе <br>тканей или хотите добавить новые <br>элементы декора, специалист <br>предложит вам обивочные <br>материалы с оптимальным <br>соотношением цены и качества.
        .row-item-transit
          p.description1 Перетяжка мебели в Москве — это <br>достаточно сложный и затратный <br>процесс. Мы перевезем ее в <br>нашу частную мастерскую, где над <br>ней будет работать команда <br>профессионалов с помощью <br>высокотехнологичного <br>оборудования. 
        .row-item-return
          p.description1 Спустя две недели мы привозим <br>заказ обратно. Наша компания <br>готова изменить сроки и <br>предоставить услугу по обивке <br>мебели в Москве  быстрее, если в <br>этом есть необходимость. <br>Теперь вы можете наслаждаться <br>полученным результатом
      btn.connect Связаться с нами
      h4 Портфолио работ
    section.section-fourth
      .gallery
        .block1
        .block2
        .block3
          btn.more Подробнее
        .block4
        .block5
        .block6
    section.section-fifth
      h5 Каталог материалов
      .screen
      .options
        btn.option1
        btn.option2
        btn.option3
        btn.option4
        btn.option5
        btn.option6
        btn.option7
        btn.option8
        btn.option9
        btn.option10
        btn.option11
        btn.option12
        btn.option13
        btn.option14
        btn.option15
      btn.change Сменить модель
      btn.book Заказать
    section.section-sixth
      h6 Требуется обновить диван?
      p.numbers Звоните по телефонам +7666565136 и +785645656 <br>оставьте заявку, чтобы узнать точную стоимость работ
      form(action="" enctype="text/plain")
        input(type="text") 
          p.nick Ваше имя*
        input(type="phone")
          p.passw Номер телефона*





      
      

      
    

block footer
  include ../assets/blocks/footer/footer
