@import 'libraries/reset.2.0.0'
@import 'libraries/normalize.8.0.1'

@import '../fonts/fonts'

@import 'base/title'
@import 'base/container'

// @import '../blocks/popup/popup'




.main-section

.main
  height: 100vh
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  background: url('../images/main-img.jpg') center no-repeat
  background-size: cover
  font-weight: 500
  font-size: 18px
  line-height: 100px
  text-align: center
  text-transform: uppercase
  .h1
    font-family:  Cormorant Garamond 
  


.main-btn 
  height: 44px
  width: 193px
  padding: 5px 15px
  border: none
  border-radius: 3px
  background: lightgray
  outline: none
  transition: all .3s
  &:hover
    background: #51061d
    color: white
    cursor: pointer


.menu-btn
  background-size: auto
  display: flex
  flex-direction: column
  align-items: baseline
  justify-content: flex-start
  width: 117px
  height: 62px
  background: url('../images/logo2.png') no-repeat 
  border: none
  margin-right: 965px
  margin-top: -205px 
   
  
.logo
  background-size: auto
  display: flex
  flex-direction: column
  align-items: baseline
  justify-content: flex-start
  font-family: Cormorant Garamond
  font-style: normal
  font-weight: 500
  font-size: 24px
  line-height: 100px
  text-align: center
  color: #000000
  text-transform: capitalize
  border: none
  margin-top: -30px
 

ul
  background-size: auto
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: flex-start
  text-align: center
  width: 658px
  margin-left: 250px
  margin-top: -50px 
  li
    color: #323232
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 133.5%
    text-transform: none
    padding-left: 40px
    
    
.request
  background-size: auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 167px
  height: 40px
  color: #FFFFFF
  background: #51061d
  border: none
  border-radius: 3px  
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 18px
  margin-left: 1000px
  outline: none
  transition: all .3s
  &:hover
    background: white
    color: #51061d
    cursor: pointer
  

.first-section
  position: absolute
  top: 1059px   


h2
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  width: 1497px
  height: 63px
  padding-top: 0px
  font-family: Cormorant Garamond
  font-style: normal
  font-weight: 500
  font-size: 27px
  line-height: 131.18%
  text-align: center
  letter-spacing: 0.035em
  color: black
  text-transform: none
  
.row 
  margin-top: 82px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: stretch
  background: #FFFFFF
  height: 580px
  width: 1457px
  left: 227px

.row-item-black
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  width: 501px
  height: 580px
  background: #FFFFFF
  margin-left: 0px
  margin-top: 0px
  box-shadow: 0px 10px 15px 0px rgba(0,0 ,0 ,0.078)
  background: url('../images/group1.png') no-repeat
  background-position: 2px 34px 
  .header
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 66px
    text-align: center
    color:#000000 
    text-transform: none
    position: relative
    top: 295px
    left: 160px
  .description
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 30px
    text-align: center
    color:#000000 
    text-transform: none
    position: relative 
    left: 85px
    top: 300px
  .about1
    width: 134.17px
    height: 35.75px
    position: relative
    left: 178px
    top: 341px
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 35px
    text-transform: none
    background: #51061d
    color: #FFFFFF
    border-radius: 3px
    outline: none
    transition: all .3s
    &:hover
      background: white
      color: #51061d
      cursor: pointer


.row-item-orange
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 449px
  height: 580px
  background: #cfa120
  margin-left: 0px
  margin-top: 0px
  box-shadow: 0px 10px 15px 0px rgba(0,0 ,0 ,0.078)
  background: url('../images/group2.png') no-repeat
  background-position: 12px 54px 
  .header
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 66px
    text-align: center
    color:#000000 
    text-transform: none
    position: relative
    top: 295px
  .description
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 30px
    text-align: center
    color:#000000 
    text-transform: none
    position: relative 
    top: 300px
  .about2
    width: 134.17px
    height: 35.75px
    position: relative
    top: 341px
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 35px
    text-transform: none
    background: #51061d
    color: #FFFFFF
    border-radius: 3px
    outline: none
    transition: all .3s
    &:hover
      background: white
      color: #51061d
      cursor: pointer


.row-item-gray
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-end
  width: 449px
  height: 580px
  background: #e7e72c
  margin-right: 0px
  margin-top: 0px
  box-shadow: 0px 10px 15px 0px rgba(0,0 ,0 ,0.078)
  background: url('../images/group3.png') no-repeat
  background-position: 12px 54px 
  .header
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 66px
    text-align: center
    color:#000000 
    text-transform: none
    position: relative
    top: 295px
    right: 160px
  .description
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 30px
    text-align: center
    color:#000000 
    text-transform: none
    position: relative 
    top: 300px
    right: 85px
  .about3
    width: 134.17px
    height: 35.75px
    position: relative
    top: 341px
    right: 178px
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 35px
    text-transform: none
    background: #51061d
    color: #FFFFFF
    border-radius: 3px
    outline: none
    transition: all .3s
    &:hover
      background: white
      color: #51061d
      cursor: pointer


.second-section
  position: absolute
  top: 2126px
  background:url('../images/back2.1.png') no-repeat
  width: 1920px
  height: 922px

.mebelink
  padding-top: 252px
  padding-bottom: 10px
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 30px
  line-height: 37px
  text-align: center
  text-transform: none
  color: white

.mebelink1
  padding-top: 10px 
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 30px
  line-height: 37px
  text-align: center
  text-transform: none
  color: white

.request2
  background-size: auto
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  margin-top: 35px
  margin-left: 832.39px
  width: 255.21px
  height: 61.13px
  color: #FFFFFF
  background: #51061d
  border-radius: 3px  
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 20px
  text-transform: none
  outline: none
  transition: all .3s
  &:hover
    background: white
    color: #51061d
    cursor: pointer
 
.section-third
  position: absolute
  top: 3117px
  background: url('../images/back3.png') no-repeat
  width: 1920px
  height: 1240px

h3
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  width: 717.76px
  height: 117.15px
  margin-left: 601px
  margin-bottom: 20px
  font-family: Cormorant Garamond
  font-style: normal
  font-weight: 500
  font-size: 36px
  line-height: 100px
  text-align: center
  color: black
  text-transform: none


.row1
  margin-top: 22px
  margin-left: 234px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: stretch
  background: #FFFFFF
  height: 542px
  width: 1452px

.row-item-designer
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 348px
  height: 542px
  box-shadow: 0px 10px 15px 0px rgba(0,0 ,0 ,0.078)
  background: url('../images/icon1.png') no-repeat
  background-position: 47px 22px 
  .description1
    padding-top: 251px
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 30px
    text-align: center
    color:#000000 
    text-transform: none
    
.row-item-materials
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 348px
  height: 542px
  box-shadow: 0px 10px 15px 0px rgba(0,0 ,0 ,0.078)
  background: url('../images/icon2.png') no-repeat
  background-position: 47px 22px 
  .description1
    padding-top: 251px 
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 30px
    text-align: center
    color:#000000 
    text-transform: none
    
.row-item-transit
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 348px
  height: 542px
  box-shadow: 0px 10px 15px 0px rgba(0,0 ,0 ,0.078)
  background: url('../images/icon3.png') no-repeat
  background-position: 47px 22px 
  .description1
    padding-top: 251px 
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 30px
    text-align: center
    color:#000000 
    text-transform: none

.row-item-return
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 348px
  height: 542px
  box-shadow: 0px 10px 15px 0px rgba(0,0 ,0 ,0.078)
  background: url('../images/icon4.png') no-repeat
  background-position: 47px 22px 
  .description1
    padding-top: 251px 
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 30px
    text-align: center
    color:#000000 
    text-transform: none

  
.connect
  background-size: auto
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  margin-top: 89px
  margin-left: 832.39px
  width: 255.21px
  height: 61.13px
  color: #FFFFFF
  background: #51061d
  border-radius: 3px  
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 18px
  text-transform: none
  outline: none
  transition: all .3s
  &:hover
    background: white
    color: #51061d
    cursor: pointer


h4
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  width: 717.76px
  height: 117.15px
  margin-left: 601px
  margin-top: 100px
  font-family: Cormorant Garamond
  font-style: normal
  font-weight: 500
  font-size: 36px
  line-height: 100px
  text-align: center
  color: black
  text-transform: none


.section-fourth
  position: absolute
  top: 4146px
  background: #ffffff
  width: 1920px
  height: 1169px

.gallery
  display: grid
  max-width: 1669px
  max-height: 1084px
  grid-template-columns: repeat(3,1fr)
  grid-template-rows: repeat(2,525.76px)
  grid-auto-flow: row
  grid-gap: 20px
  margin-left: 126px
  margin-top: 40px


  
.block1
  background-image: url('../images/11.JPG') 
  background-size: cover


.block2
  background-image: url('../images/12.JPG') 
  background-size: cover


.block3
  background-image: url('../images/13.JPG') 
  background-size: cover

.more
  background-size: auto
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  margin-top: 450px
  margin-left: 175px
  width: 195.26px
  height: 41.13px
  color: #000000
  border-radius: 3px  
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 18px
  text-transform: none
  outline: none
  transition: all .3s
  border: 2px solid #000000
  &:hover
    color: #ffffff
    background: #51061d
    cursor: pointer

  
.block4
  background-image: url('../images/14.JPG') 
  background-size: cover

.block5
  background-image: url('../images/15.JPEG') 
  background-size: cover
.block6
  background-image: url('../images/16.JPG') 
  background-size: cover



  
  
  
.section-fifth
  position: absolute
  top: 5401px
  background: #887575
  width: 1920px
  height: 859px


h5
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  width: 717.76px
  height: 117.15px
  margin-left: 601px
  margin-top: 50px
  font-family: Cormorant Garamond
  font-style: normal
  font-weight: 500
  font-size: 36px
  line-height: 100px
  text-align: center
  color: black
  text-transform: none



.screen
  width: 1127px
  height: 556px
  margin-left: 97px
  background-size: cover
  background: #122122


.options
  width: 568px
  height: 300px
  margin-left: 1242px
  background: #ffffff
  margin-top: -556px
  display: grid
  grid-template-columns: repeat(5,1fr)
  grid-template-rows: repeat(3, 1fr)
  grid-auto-flow: row
  grid-gap: 10px
  &:checked
    border: 2px solid #000000



.option1
  background-size: auto
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  outline: none
  transition: all .3s
  background: #6be7b8
.option2
  background: #d3d4d4
.option3
  background: #143478
.option4
  background: #c5ee10
.option5
  background: #e7881b
.option6
  background: #12c0f5
.option7
  background: #fd0000
.option8
  background: #eb2ecb
.option9
  background: #000000
.option10
  background: #4f574d
.option11
  background: #00ccff
.option12
  background: #3e17a8
.option13
  background: #147852
.option14
  background: #eeff04
.option15
  background: #8088fd